body{
  background-image: url("png/cockpitView.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainwrapper{
  height: 100vh;
}
.target{
  height: 200px;
}

.holder{
    height: 728px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.setupProgress{
  height: 5px;
  width: 100px;
}
.round{
  border: none;
  border-radius: 50%;
}

.wider{
  width: 460px;
}

.laserImg{
  max-width: 75px;
  margin-top: 35px;
  margin-left: 215px;
}

.laserImgR{
  max-width: 75px;
  margin-top: 35px;
  margin-right: 215px;
}